# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class
*.py~

# Packaging
dist/
build/
*.egg-info/
.eggs/

# Environments
.env
.venv
env/
venv/

# Dependencies
node_modules/

# IDEs
.vscode/
.idea/
*.DS_Store
*.swp

# Logs
*.log

# Frappe
public/build.json

# AI tools
.aider*
